h1 {
    color: blue;
}

p {
    color: red;
    font-size: 15px;
}

img {
    border: 5px solid green;
    width: 500px;
    height: 500px;
}

form {
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

